.box{
    width: 200px;
    height: 200px;
    background-color: lightpink;
    margin: 0px auto;
    border-radius: 50%;
    animation-name: ball;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-timing-function: ease-in;
    animation-iteration-count: 4;
    animation-direction: alternate;

}

@keyframes ball {
    from{
        margin-top: 10px;
    }
    to{
        margin-top: 300px;
    }
}
.platform{
    width: 600px;
    height: 50px;
    background-color: lightcoral;
    position: absolute;
    top: 500px;
    left: 10%;
    
}
