<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>
<body>
    <h1>NEW CHAT</h1>
    <form action="/chats" method="POST">
        <label for="from">from : </label>
        <input type="text" name="from" id="from">
        <br><br>
        <label for="to">to : </label>
        <input type="text" name="to" id="to">
        <br><br>
        <label for="msz">Msz : </label>
        <textarea name="msz" id="msz" rows="1" placeholder="write you msz here.."></textarea>
        <br><br>
        <button type="submit" class="btn">CLICK ME</button>
    </form>
</body>
</html>