<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>hello world</h1>
    <h2>dice turn is <%= diceturn %></h2>
    <% if (diceturn == 6) { %>
        <h1>YOU WIN!!</h1>
    <% } %>


    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam ullam, excepturi quaerat distinctio expedita magnam rem fugit deleniti quos blanditiis officia, vero quae voluptatum fugiat ratione autem, vel suscipit voluptate officiis ab. Nisi quia natus laboriosam distinctio, accusantium officia ipsam consequuntur, repellat voluptatem aperiam eum. Hic asperiores temporibus nemo sapiente?</p>
    <h2>this is ejs : <%= 2+2+"hello"+2+23 %></h2>
    <button>click me</button>
</body>
</html>