<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/posts/<%= post.id %>/?_method=PATCH" method="post">
        <h2>EDIT YOUR POST</h2>
        <p>ID : <%= post.id %>
        </p>
        <p>USERNAME : <%= post.username %>
        </p>
        <textarea name="about" placeholder="content"><%= post.about %></textarea>
        <button>SUBMIT</button>
    </form>
</body>

</html>