<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/posts" method="post">
        <input type="text" name="username" placeholder="enter name"><br><br>
        <textarea name="about"></textarea><br><br>
        <button type="submit">SUBMIT</button><br><br>

    </form>
</body>
</html>