<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>enter data to delete</h1>
    <form action="/users/<%=id%>?_method=DELETE" method="post">
        <label for="name">USERNAME:</label>
        <input type="text" name="username" id="name"><br><br>
        <label for="pass">PASSWORD:</label>
        <input type="password" name="password" id="pass"><br><br>
        <button type="submit">SUBMIT</button>
    </form>
</body>
</html>