<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/users/<%=data.id%>?_method=PATCH" method="post">
        <h1>edit user data of email <%= data.email%></h1>
        <label for="name">USERNAME:</label>
        <input type="text" name="username" placeholder="<%= data.username%>" id="name"><br><br>
        <label for="pass">PASSWORD:</label>
        <input type="password" name="password" id="pass"><br><br>
        <button type="submit">SUBMIT</button>
    </form>

</body>
</html>